<style type="text/css">
  body {background-color:#fefaec}

  div#notification {background-color:#f08080}
  div#rhythm {background-color:#00fa9a}
    /* 表示領域全体 */
  div.tabbox {
    margin: 0px; padding: 0px; width: 350px;
  }

    /* タブ部分 */
  p.tabs { margin: 0px; padding: 0px; }
  p.tabs a {
    display: block; width: 10em; float: left;
    margin: 0px 1px 0px 0px; padding: 3px;
    text-align: center;
    border-radius: 12px 12px 0px 0px; /* 角を丸くする */
  }
  p.tabs a.tab1 { background-color: #f38181; color: white; }
  p.tabs a.tab2 { background-color: #625772; color:white;}
  p.tabs a.tab3 { background-color: red; color: white; }
  p.tabs a:hover { color: yellow; }

  /* タブ中身のボックス */
  div.tab { height: 150px; overflow: auto; clear: left; }
  div#tab1 {
    border: 2px solid #f38181; background-color: #ccffff;
  }
  div#tab2 {
    border: 2px solid #625772; background-color: #ffffcc;
  }
  div#tab3 {
    border: 2px solid red; background-color: #ffcccc;
  }
  div.tab p { margin: 0.5em; }
  .link-button{
  	background: rgb(255, 225, 103);
  }
</style>
<script>
  var loc = {coords: {}};
  var rhythm_day = 0;
  var rhythm_date;
  document.addEventListener("DOMContentLoaded", function() {
    var options = {
      enableHighAccuracy: true,
      timeout: 60000,
      maximumAge: 0
    };
    window.navigator.geolocation.getCurrentPosition(function(pos){
      console.log(pos);
      loc = pos;
    },
    function(err){
      console.warn('ERROR(' + err.code + '): ' + err.message);
    }, options);
  }, false);

  var request_food_info = function(){
    $.ajax({
      type: "POST",
      url: "<%= send_location_food_forecast_top_url %>",
      xhrFields: {
        withCredentials: true
      },
      data: {
        "token": "<%= cookies[:token] %>",
        "lat": loc.coords.latitude,
        "lon": loc.coords.longitude
      },
      success: function(j_data){
        var field = $("#restaurant_field");
        field.empty();
        $.each(j_data.restaurants, function(index, restaurant){
           field.append('<span class="shopeats_box_title">' + restaurant.place_name + '</span><br/>');
           field.append('<a href="' + restaurant.url + '" target="_blank" class="shopeats_box">');
           field.append('<img width="150" height="150" src="' + restaurant.image_url + '" class="shopeats_box_img">');
           field.append('</a><br/>');
         });
       }
    });
  }

  $(function() {
     $.datepicker.setDefaults($.datepicker.regional["ja"]);
     request_food_info();
     $("#btn").click(function(){
       console.log(loc);
       request_food_info();
     });
     return false;
  });

  function ChangeTab(tabname) {
    // 全部消す
    document.getElementById('tab1').style.display = 'none';
    document.getElementById('tab2').style.display = 'none';
    //document.getElementById('tab3').style.display = 'none';
    // 指定箇所のみ表示
    document.getElementById(tabname).style.display = 'block';
  }

</script>

<figure class="title_img">
  <%= image_tag("food_forecast/service_title.png", {width: "160", height: "160", alt: "ごはんForecast", style: "text-align: center;"}) %>
</figure>

<div>
  <figure class="button_panel">
  <div style="vertical-align:baseline;">
    <%= link_to(image_tag("food_forecast/reload.gif", {width: "100", height: "90"}), "#", id: "btn") %>
    <%= link_to("周期変更", input_food_forecast_settings_url, id: "link", class: "pure-button link-button") %>
  </div>
  </figure>
</div>

<div><p>今日のレコメンド</p></div>

<div class="tabbox">
  <p class="tabs">
  	<%= link_to("外食", "#tab1" , {class: "tab1", onclick: "ChangeTab('tab1'); return false;"}) %>
  	<%= link_to("自炊", "#tab2", {class: "tab2", onclick: "ChangeTab('tab2'); return false;"}) %>
  </p>
  <div id="tab1" class="tab">
    <p>外食</p>
    <div id="restaurant_field">現在情報を取得中です</div>
  </div>
  <div id="tab2" class="tab">
    <p>自炊</p>
  </div>
<!--   <div id="tab3" class="tab">
      <p>特殊</p>
   </div>
-->
</div>

<script type="text/javascript">
  // デフォルトのタブを選択
  ChangeTab('tab1');
</script>