<table>
    <%= form_tag(upload_bannosama_photos_url, multipart: true) do %>
      <tr>
        <td><%= label_tag("画像ファイル") %></td>
        <td><%= file_field_tag "image_files[]" %></td>
      </tr>
      <tr>
        <td><%= label_tag("画像ファイル") %></td>
        <td><%= file_field_tag "image_files[]" %></td>
      </tr>
      <tr>
        <td><%= submit_tag("画像をアップロードする") %></td>
      </tr>
    <% end %>
  </table>