<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TappunPage</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'libraries/pure/pure-min.css' %>
    <%= stylesheet_link_tag 'homepage/main.css' %>
    <%= javascript_include_tag 'libraries/jquery.min.js' %>
  </head>

  <body>
    <div class="pure-menu pure-menu-horizontal pure-menu-fixed">
      <ul class="pure-menu-list">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link"><%= t("homepage.header.profile") %></a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link"><%= t("homepage.header.products") %></a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link"><%= t("homepage.header.community") %></a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link"><%= t("homepage.header.tools") %></a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link"><%= t("homepage.header.contact") %></a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
