<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TappunPage</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'homepage/foundation.css' %>
    <%= stylesheet_link_tag 'homepage/main.css' %>
    <%= javascript_include_tag 'libraries/jquery.min.js' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="#"><%= t("homepage.header.profile") %></a></li>
          <li class="has-submenu">
            <a href="#"><%= t("homepage.header.products") %></a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#"><%= t("homepage.header.application") %></a></li>
              <li><a href="#"><%= t("homepage.header.web") %></a></li>
              <li><a href="#"><%= t("homepage.header.iot") %></a></li>
              <li><a href="#"><%= t("homepage.header.vrarmr") %></a></li>
              <li><a href="#"><%= t("homepage.header.bot") %></a></li>
              <li><a href="#"><%= t("homepage.header.other") %></a></li>
            </ul>
          </li>
          <li><a href="#"><%= t("homepage.header.community") %></a></li>
          <li><a href="#"><%= t("homepage.header.tools") %></a></li>
          <li><a href="#"><%= t("homepage.header.contact") %></a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'homepage/foundation.min.js' %>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
