<html>
  <head>
    <title>Fey-kun</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <%= stylesheet_link_tag    'feykun/main' %>
      <%= javascript_include_tag 'libraries/jquery.min.js' %>
      <%= javascript_include_tag 'libraries/jquery.scrolly.min.js' %>
      <%= javascript_include_tag 'libraries/jquery.scrollex.min.js' %>
      <%= javascript_include_tag 'libraries/skel.min.js' %>
      <%= javascript_include_tag 'feykun/util.js' %>
      <%= javascript_include_tag 'feykun/main.js' %>
	</head>
	<body>
      <!-- Wrapper -->
      <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
          <a href="index.html" class="logo">
            <span>Home</span>
          </a>
          <a href="result.html" class="logo">
            <span>Results</span>
          </a>
          <nav>
            <a href="#menu">Menu</a>
          </nav>
       </header>
       <%= yield %>
       <footer id="footer">
         <div class="inner">
           <ul class="icons">
             <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
             <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
             <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
             <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
             <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
           </ul>
           <ul class="copyright">
             <li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
           </ul>
         </div>
       </footer>
     </div>
  </body>
</html>
