<html>
  <head>
    <title>Fey-kun</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <%= stylesheet_link_tag    'feykun/main' %>
      <%= javascript_include_tag 'libraries/jquery.min.js' %>
      <%= javascript_include_tag 'libraries/jquery.scrolly.min.js' %>
      <%= javascript_include_tag 'libraries/jquery.scrollex.min.js' %>
      <%= javascript_include_tag 'libraries/skel.min.js' %>
      <%= javascript_include_tag 'feykun/util.js' %>
      <%= javascript_include_tag 'feykun/main.js' %>
	</head>
	<body>
      <!-- Wrapper -->
      <div id="wrapper">
       <%= yield %>
     </div>
  </body>
</html>
