<%= stylesheet_link_tag 'libraries/slick-theme.css' %>
<%= stylesheet_link_tag 'libraries/slick.css' %>
<%= javascript_include_tag 'libraries/slick.min.js' %>
<%= stylesheet_link_tag 'homepage/top.css' %>
<%= javascript_include_tag 'homepage/top.js' %>

<div class="top-mv ">
  <div class="top-mv-visual-bg">
    <div class="top-mv-visual-bg-item" data-imagepathes="<%= [image_path("homepage/top-mv-mask-a.jpg"), image_path("homepage/top-mv-mask-e.jpg"), image_path("homepage/top-mv-mask-g.jpg"), image_path("homepage/top-mv-mask-m.jpg")].to_json %>">
      <canvas id="bgimage"></canvas>
    </div>
    <div class="top-mv-visual-logo">
      <%= image_tag("homepage/logo.png") %>
    </div>
  </div>
</div>
<div id="page-scroll" class="page-scroll">
  <li class="page-scroll-item"><a href="#" title="TOP" class="js-page-scroll" data-scroll-to="#top-mv"><span></span></a></li>
  <li class="page-scroll-item"><a href="#" title="ABOUT" class="js-page-scroll" data-scroll-to="#top-about"><span></span></a></li>
  <li class="page-scroll-item"><a href="#" title="SERVICE" class="js-page-scroll" data-scroll-to="#top-service"><span></span></a></li>
  <li class="page-scroll-item"><a href="#" title="RECRUIT" class="js-page-scroll" data-scroll-to="#top-recruit"><span></span></a></li>
</div>

<section id="top-products" class="top-products">
  <div class="top-prosucts-field">
    <h2 class="top-products-caption">
      <span class="top-products-caption-label"><%= t("homepage.top.title.products") %></span>
    </h2>
    <div class="top-prosucts-exlain">
      <p class="top-products-summary">主にプライベートで作成したアプリやツール等の制作物をご紹介</p>
      <p class="top-products-caution">※開発中であったり、アイディアのみのものも多くあります。<br>ほしいと思ったものに「いいね」と応援いただけると開発の励みになりますのでよろしくお願いします!!</p>
    </div>
    <div class="top-prosucts-contents">
      <% if @products.present? %>
        <% @products.each do |product| %>
        <% end %>
      <% else %>
        <span>工事中しばらくお待ちを</span>
      <% end %>
    </div>
    <div class="top-prosucts-contents-all">
      <%= link_to("もっと見る", products_path) %>
    </div>
  </div>
</section>

<section id="top-tools" class="top-tools">
  <div>
    <%= link_to(t("homepage.top.title.tools"), tools_root_path) %>
  </div>
</section>

<section id="top-articles" class="top-articles">
  <div class="top-articles-field">
    <h2 class="top-articles-caption">
      <span class="top-articles-caption-label"><%= t("homepage.top.title.articles") %></span>
    </h2>
    <div class="top-articles-exlain">
      <p class="top-articles-message">技術的な記事や資料を公開しています。<br>ご参考ください。もしもし良ければいいねいただけると幸いです。</p>
    </div>
    <div class="top-articles-contents">
      <% if @articles.present? %>
        <% @articles.each do |article| %>
        <% end %>
      <% else %>
        <span>工事中しばらくお待ちを</span>
      <% end %>
    </div>
    <div class="top-articles-contents-all">
      <%= link_to("もっと見る", articles_path) %>
    </div>
  </div>
</section>

<section id="top-relations" class="top-relations">
  <div>
    <%= link_to(t("homepage.top.title.relations"), relations_path) %>
  </div>
</section>

<section id="top-contacts" class="top-contacts">
  <div>
    <%= link_to(t("homepage.top.title.contacts"), contact_path) %>
  </div>
</section>