<%= stylesheet_link_tag 'libraries/slick-theme.css' %>
<%= stylesheet_link_tag 'libraries/slick.css' %>
<%= javascript_include_tag 'libraries/slick.min.js' %>
<%= stylesheet_link_tag 'homepage/top.css' %>
<%= javascript_include_tag 'homepage/top.js' %>

<div class="top-mv ">
  <div class="top-mv-visual-bg">
    <div class="top-mv-visual-bg-item" data-imagepathes="<%= [image_path("homepage/top-mv-mask-a.jpg"), image_path("homepage/top-mv-mask-e.jpg"), image_path("homepage/top-mv-mask-g.jpg"), image_path("homepage/top-mv-mask-m.jpg")].to_json %>">
      <canvas id="bgimage"></canvas>
    </div>
    <div class="top-mv-visual-logo">
      <%= image_tag("homepage/logo.png") %>
    </div>
  </div>
</div>

<section id="top-products" class="top-products">
  <div class="top-prosucts-field">
    <h2 class="top-products-caption">
      <span class="top-products-caption-label"><%= t("homepage.top.title.products") %></span>
    </h2>
    <div class="top-prosucts-exlain">
      <p class="top-products-summary">主にプライベートで作成したアプリやツール等の制作物をご紹介</p>
      <p class="top-products-caution">※開発中であったり、アイディアのみのものも多くあります。<br>ほしいと思ったものに「いいね」と応援いただけると開発の励みになりますのでよろしくお願いします!!</p>
    </div>
    <div class="top-prosucts-contents">
      <% if @products.present? %>
        <% @products.each do |product| %>
        <% end %>
      <% else %>
        <span>工事中しばらくお待ちを</span>
      <% end %>
    </div>
    <div class="top-prosucts-contents-all">
      <%= link_to("もっと見る", products_path) %>
    </div>
  </div>
</section>

<section id="top-tools" class="top-tools">
  <div class="top-tools-field">
    <h2 class="top-tools-caption">
      <span class="top-tools-caption-label"><%= t("homepage.top.title.tools") %></span>
    </h2>
    <div class="top-tools-exlain">
      <p class="top-tools-message">個人的にあったらいいなと思ったツールやAPIを作成し、公開してみました。<br>よかったら使ってください。また、もしよろしければ「いいね」いただけると幸いです。</p>
    </div>
    <div class="top-tools-contents">
      <% if @tools.present? %>
        <% @tools.each do |tool| %>
        <% end %>
      <% else %>
        <span>工事中しばらくお待ちを</span>
      <% end %>
    </div>
    <div class="top-tools-contents-all">
      <%= link_to("もっと見る", tools_root_path) %>
    </div>
  </div>
</section>

<section id="top-articles" class="top-articles">
  <div class="top-articles-field">
    <h2 class="top-articles-caption">
      <span class="top-articles-caption-label"><%= t("homepage.top.title.articles") %></span>
    </h2>
    <div class="top-articles-exlain">
      <p class="top-articles-message">技術的な記事や資料を公開しています。<br>ご参考ください。もしよろしければ「いいね」いただけると幸いです。</p>
    </div>
    <div class="top-articles-contents">
      <% if @articles.present? %>
        <% @articles.each do |article| %>
        <% end %>
      <% else %>
        <span>工事中しばらくお待ちを</span>
      <% end %>
    </div>
    <div class="top-articles-contents-all">
      <%= link_to("もっと見る", articles_path) %>
    </div>
  </div>
</section>

<section id="top-relations" class="top-relations">
  <div class="top-relations-field">
    <h2 class="top-relations-caption">
      <span class="top-relations-caption-label"><%= t("homepage.top.title.relations") %></span>
    </h2>
    <div class="top-relations-exlain">
      <p class="top-relations-message">以下のコミュニティも参加、または運営しております。</p>
    </div>
    <div class="top-relations-contents">
    </div>
    <div class="top-relations-contents-all">
      <%= link_to("詳細を見る", relations_path) %>
    </div>
  </div>
</section>

<section id="top-contacts" class="top-contacts">
  <div class="top-contacts-field">
    <h2 class="top-contacts-caption">
      <span class="top-contacts-caption-label"><%= t("homepage.top.title.contacts") %></span>
    </h2>
    <div class="top-contacts-exlain">
      <p class="top-contacts-message">お問合わせなどございましたら、こちらからお願いします</p>
    </div>
    <div class="top-contacts-contents-all">
      <%= link_to("お問い合わせ", contact_path) %>
    </div>
  </div>
</section>