<title>多くの画像ファイルを集めるためのツール置き場</title>
<meta name="description" content="WebサイトやSNSからキーワードを入力するとその中の画像だけをまとめて集めてダウンロードすることができるツール置き場">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="website">
<meta property="og:title" content="多くの画像ファイルを集めるためのツール置き場">
<meta property="og:description" content="WebサイトやSNSからキーワードを入力するとその中の画像だけをまとめて集めてダウンロードすることができるツール置き場">
<meta property="og:url" content="<%= tools_image_crawl_url %>">
<meta property="og:site_name" content="<%= homepage_sitename %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="WebサイトやSNSからキーワードを入力するとその中の画像だけをまとめて集めてダウンロードすることができるツール置き場">
<meta name="twitter:title" content="多くの画像ファイルを集めるためのツール置き場">

<table>
  <tr>
    <td><%= label_tag("Webサイトから画像を収集") %></td>
    <td><%= link_to("使ってみる", url_tools_image_crawl_url) %></td>
  </tr>
  <tr>
    <td><%= label_tag("Twitterから画像を収集") %></td>
    <td><%= link_to("使ってみる", twitter_tools_image_crawl_url) %></td>
  </tr>
  <tr>
    <td><%= label_tag("Flickrから画像を収集") %></td>
    <td><%= link_to("使ってみる", flickr_tools_image_crawl_url) %></td>
  </tr>
</table>