<title>多くの画像ファイルを集めるためのツール置き場</title>
<meta name="description" content="WebサイトやSNSからキーワードを入力するとその中の画像だけをまとめて集めてダウンロードすることができるツール置き場">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="website">
<meta property="og:title" content="多くの画像ファイルを集めるためのツール置き場">
<meta property="og:description" content="WebサイトやSNSからキーワードを入力するとその中の画像だけをまとめて集めてダウンロードすることができるツール置き場">
<meta property="og:url" content="<%= tools_image_crawl_url %>">
<meta property="og:site_name" content="<%= homepage_sitename %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="WebサイトやSNSからキーワードを入力するとその中の画像だけをまとめて集めてダウンロードすることができるツール置き場">
<meta name="twitter:title" content="多くの画像ファイルを集めるためのツール置き場">

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key.to_s) %>
<% end %>

<h2>画像を収集したいサービスを選んでください</h2>
<div class="pure-g">
  <div class="pure-u-1">
    <%= link_to("Webサイトから画像を収集", url_tools_image_crawl_url) %>
  </div>
  <br>
  <div class="pure-u-1">
    <%= link_to("Twitterから画像を収集", twitter_tools_image_crawl_url) %>
  </div>
  <br>
  <div class="pure-u-1">
    <%= link_to("Flickrから画像を収集", flickr_tools_image_crawl_url) %>
  </div>
</div>
<hr>
<h2>画像の収集状況</h2>
<div class="pure-g">
  <div class="pure-u-1">【注意】</div>
  <div class="pure-u-1">1.収集処理は順番に実行されます</div>
  <div class="pure-u-1">2.収集完了状態から1週間経過するとリストからなくなります。</div>
  <div class="pure-u-1">3.ダウンロードが完了した場合、1日経過するとリストからなくなります</div>
  <div class="pure-u-1">4.収集中状態から1日経過した場合もリストからなくなります</div>
</div>
<table class="pure-table">
  <thead>
    <tr>
      <th>作成日時</th>
      <th>収集先</th>
      <th>状態</th>
      <th>ダウンロード</th>
    </tr>
  </thead>
  <tbody>
    <% @upload_jobs.each do |job| %>
      <tr>
        <td><%= job.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= job.from_type_name %></td>
        <td><%= t("activerecord.enum.homepage_upload_job_queues.state.#{job.state}") %></td>
        <td><%=
          if job.upload_url.present?
            link_to("ダウンロード", download_zip_tools_image_crawl_url(job_id: job.id), class: "pure-button")
          else
            ""
          end
        %></td>
      </tr>
    <% end %>
  </tbody>
<table>