<%= form_tag(url_crawl_tools_image_crawl_url, multipart: true, class: "pure-form pure-form-aligned") do %>
  <div class="pure-control-group">
    <%= label_tag("クロールするURL (URLの中に %s と入力すると下のページ番号の変数になる)") %>
    <%= text_field_tag :crawl_url, "", placeholder: "url", class: "pure-input-2-3" %>
  </div>
  <div class="pure-control-group">
    <%= label_tag("該当の場所を絞りこむためのDOM要素 (あれば)") %>
    <%= text_field_tag :filter, "" ,class: "pure-input-2-3" %>
  </div>
  <div class="pure-control-group">
    <%= label_tag("ページ番号(あれば)") %>
    <%= number_field_tag :start_page_num %> ~ <%= number_field_tag :end_page_num %>
  </div>
  <div class="pure-controls">
    <%= submit_tag("画像を集める", class: "pure-button pure-button-primary") %>
  </div>
<% end %>